@import "imports/variables.css";

select, textarea {
    width: 100%;
    margin-bottom: 20px;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    -webkit-box-shadow: none ; 
    box-shadow: none;
    resize: none;
    padding: 5px;
    border: 1px solid gray;
    outline: none;
}


select {
    cursor: pointer;
}

.footer-fullsize {
    position: absolute;
    bottom: 0;
}