@import "variables.css";


/*header
-----------------------------------------------------------------*/

header {
    background-image: linear-gradient(#585858, white 80%);
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
}

li{
    display: inline;
}

.nav-sign-in {
    margin-right: 0px;
}

.nav-main {
    margin: auto;
    position: relative;
    
}

.nav-main li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 40px;
    padding: 22px;
    font-family: 'Abolition';
}

.nav-main li a:hover {
     color: white;
     background: var(--main-orange);
}
.header-mobile {
    display: none;
}


/*resizing header*/
@media only screen and (max-width: 1100px){
    .header-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 60px;
    }
    .header-container {
        display: none;
    }

    .header-search-mobile {
        height: 40px;
        outline: none;
        border-radius: 10px;
        border: 2px solid var(--main-orange);
        padding-left: 20px;
        font-size: 15px;
    }
    .logo-mobile {
        height: auto;
        width: 80px;
    }

    #logo {
        display: none;
    }
}

/*search and cart
--------------------------------------------------------------------*/

.header-button{
    margin-right: 35px;
}

#cart-button {
    height: auto;
    width: 50px;
}

/*Invert color of all buttons on hover*/

#cart-button:hover, #search-button:hover, .drop-button:hover  {
    filter: invert(100%) sepia(3%) saturate(7419%) hue-rotate(43deg) brightness(111%) contrast(116%); /*change to White*/
}


#cart-button:hover {
    -moz-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}


@media only screen and (max-width: 1100px){
    #cart-button {
        height: 45px;
        width: 45px;
        }
}
button {
    border:none;
   background-color: transparent;
   outline:none;
   cursor: pointer;
}

#search-button-2 {
    filter: invert(62%) sepia(29%) saturate(5205%) hue-rotate(352deg) brightness(97%) contrast(93%); /*change to main orange #F08018*/
    position: relative;
    left: 280px;
    top: 5px;
}

 .icon-search-container-gone {
    display: none;
 }

 #header-search {                                   /*Shaping the search field*/
    height: 60px;
    border-radius: 20px;
    border: 3px solid var(--main-orange);
    padding-left: 20px;
    font-size: 18px;
    outline: none;
    float: right;
 }
 .nav-minimized {
     display: none;
 }


#icon-container {
    margin-left: 50px;
}

.icon-container-gone {
    display: none;
}

.drop-button {
    background-image: url("../icons/bars-solid.svg");
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1px;
    font: 10px;
    top: 100%; 
  }
  
  .dropdown-content a {
    color: var(--main-dark-blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*FOOTER*/

.footer-fullsize, .footer-mobile {
    background-color: var(--main-orange);
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

.footer-fullsize > *{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-fullsize p {
    color: white;
}

.footer-mobile {
    display: none;
}

@media only screen and (max-width: 1100px){

    .footer-fullsize {
        display: none;
    }
    .footer-mobile {
        background-image: linear-gradient(white, #585858 80%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        position: fixed;
        height: 12vw;
        max-height: 50px;
        }
    .logo-mobile {
        height: 12vw;
        max-height: 50px;
        width: auto;
        margin-left: 0px;
    }

    .footer-mobile nav ul li {
        display: inline;
        margin: 0px;
    }

    .footer-buttons {
        text-decoration: none;
        font-size:calc(20px + 1vw);
        font-weight: 500;
        border-radius: 2px;
        margin: 0px;
        
    }

.footer-buttons a{
    padding: 1.5vw 10px;
    font-family: 'Abolition';
    color: black;
    text-decoration: none;
}
.footer-buttons a:hover {
    color: white;
    background: var(--main-orange);
}
}