@import "variables.css";


* {
    font-family: var(--main-text);
    color: #6B6B6B;
}

body {
    margin: 0px;
}

/*Index main*/

main {
    max-width: 78vw;
    margin: auto;
}


h2 {   
    color: var(--main-dark-blue);
    margin: 50px 10px 20px 0px;;
    font-size:calc(18px + 1vw);
}

#deals-h2 {
    margin-bottom: 80px;
}

/*slideshow
-----------------------------------------------------------------------------------------------*/

.slideshow-background {
    display: flex;
    width: 100%;
    height: 25vw;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#F08018, white);
    position: relative; /*reposition the slideshow due to being offset when fixing the header*/
    top: 100px;
    margin-bottom: 150px;
}

#slideshow {
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-rows: repeat(4, 53px);
    grid-gap: 2.7vw;
    position: absolute;
    top: 0;
    left: auto;

  }
  
  #slideshow-img-1-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    z-index: 1;
  }
  
  #slideshow-img-2-container{
    grid-column: 2 / span 3;
    grid-row: 1 / span 2; 
    z-index: 2;
  }
  
  #slideshow-img-3-container {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2; 
    z-index: 1;
  }
  
  .img {                                /*adjusting position of image in the crop-container*/
    height: auto;
    width: 38vw;
    margin-top: -10vw;
  }


  .slideshow-img-container {                             /*container for cropping*/
    height: 19vw;
    width: 37.5vw;
    overflow: hidden;
    position: relative;
  }
  
  #slideshow-img-2 {
    height: auto;
    width: 42vw;
    margin-top: -12vw;
  }
  
  #slideshow-img-2-container  {    
    height: 22vw;
    width: 42vw;
    overflow: hidden;
    position: relative;
  }
  
  
  .slideshow-buttons > * {
    background-color: var(--main-green);
    width: 4vw;
    height: 1.5vw;
    border-radius: 10px;
    margin-right: 1vw;
    border: none;
    cursor: pointer;
  }
  
  .slideshow-background .slideshow-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 25vw;
  left: auto;
  }

/* Small images - resize, crop, adding cart-icon and price-tag 
-----------------------------------------------------------------------------------------------*/
.img-small {                                /*adjusting position of image in the crop-container*/
    height: auto;
    width: 338px;
    margin-top: -50px;
}

.img-modified {                             /*container for cropping*/
    height: 338px;
    width: 334px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.img-modified:hover {                       /*slight heighlight when hovering over images*/
    background-color: white;
    opacity: 0.8;
}

.img-modified span {                        /* white, transparent background for price tag-container*/
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    height: 40px;
}

.price-tag-regular, .price-tag-sale {       /*amount number for price-tag*/
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
}

.price-tag-regular {
    color: var(--main-dark-blue)
}

.price-tag-sale {
    color: var(--main-orange)
}

.before-price {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    right: 40px;
    bottom: 5px;
}
.sale-percent{
    color: var(--main-orange);
    font-size: 60px;
    font-weight: 600;
    position: relative;
    top: -450px;
    float: right;
    float: top;
    text-shadow: 0 0 10px white;
}



.price-tag-regular, .price-tag-sale {       /*amount number for price-tag*/
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
}

.price-tag-regular {
    color: var(--main-dark-blue)
}

.price-tag-sale {
    color: var(--main-orange)
}

.before-price {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    right: 40px;
    bottom: 5px;
}
.sale-percent{
    color: var(--main-orange);
    font-size: 60px;
    font-weight: 600;
    position: relative;
    top: -450px;
    float: right;
    float: top;
    text-shadow: 0 0 10px white;
}

.cart-blue, .cart-orange {                  /*size of shopping cart in the price-tag*/
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.cart-blue {
    filter: invert(23%) sepia(100%) saturate(2159%) hue-rotate(173deg) brightness(100%) contrast(101%); /*change to dark blue #0082A3*/
}

.cart-orange {
    filter: invert(62%) sepia(29%) saturate(5205%) hue-rotate(352deg) brightness(97%) contrast(93%); /*change to main orange #F08018*/
}


/*TRENDING
-----------------------------------------------------------------*/

.trending-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.2vw;
    grid-row-gap: 4vw;
   
}

@media only screen and (max-width: 1000px){
    .trending-content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    .img-small {                                /*adjusting position of image in the crop-container*/
        height: 40vw;
        min-height: 300px;
        width: 35vw;
        min-width: 250px;
        margin-top: -5vw;
        z-index: 1;
    }
    
    .img-modified {                             /*container for cropping*/
        height: 34vw;
        min-height: 240px;
        width: 34vw;
        min-width: 240px;
    }
    
    .img-modified:hover {                       /*slight heighlight when hovering over images*/
        background-color: white;
        opacity: 0.8;
    }
    
    .img-modified span {                        /* white, transparent background for price tag-container*/
        width: 34vw;
        min-width: 240px;
        height: 4vw;
        min-height: 28px;
        position: absolute;
        bottom: 0;
    }
    .price-tag-regular, .price-tag-sale {       /*amount number for price-tag*/
        margin-left: 1vw;
        font-size:calc(12px + 1.3vw);
        font-weight: 500;
    }
    .before-price {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        font-weight: 500;
        font-size:calc(8px + 1.3vw);
        position: relative;
        right: 3vw;
        bottom: 5px;
    }
    .sale-percent{
        color: var(--main-orange);
        font-size: 60px;
        font-weight: 600;
        position: relative;
        top: -450px;
        float: right;
        float: top;
        text-shadow: 0 0 10px white;
    }
    
}


@media only screen and (max-width: 600px){
    .trending-content, .deals {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    .img-small {                                /*adjusting position of image in the crop-container*/
        height: 40vw;
        min-height: 300px;
        width: 35vw;
        min-width: 250px;
        margin-top: -5vw;
        z-index: 1;
    }
    
    .img-modified {                             /*container for cropping*/
        height: 34vw;
        min-height: 240px;
        width: 34vw;
        min-width: 240px;
    }
    
    .img-modified:hover {                       /*slight heighlight when hovering over images*/
        background-color: white;
        opacity: 0.8;
    }
    
    .img-modified span {                        /* white, transparent background for price tag-container*/
        width: 34vw;
        min-width: 240px;
        height: 4vw;
        min-height: 28px;
        position: absolute;
        bottom: 0;
    }
}

/*DEALS
------------------------------------------------------------------*/

.deals-col-1, .deals-col-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.2vw;
    grid-row-gap: 4vw;
}


.publisher-sale {                                /*adjusting position of image in the crop-container*/
    height: auto;
    width: 100%;
    margin-top: -50px;
}

.publisher-sale-container {                             /*container for cropping*/
    height: 338px;
    width: 760px;
}

@media only screen and (max-width: 1500px){
    .publisher-sale {
        width: 100%;
        height: 100%;
    }

    .publisher-sale-container {
        width: 100%;
        height: 100%;
    }
}

/*SUPER SALE*/
.pre-owned-tag{
    width: 100%;
    bottom: 2vw;
    margin-bottom: 10vw;
    
}

